/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
    border-style: dotted;
  }
  
  section {
  }
  
  #left {
      background: plum;
      float: left;
      width: 33.3%;
      padding: 20px;
  }
  
  #middle {
      background: teal;
      float: left;
      width: 33.3%;
      padding: 20px;
  }
  
  #right {
      background: black;
      color: white;
      float: left;
      width: 33.3%;
      padding: 20px;
  }
  
  #full {

  }
  
  #division {

  }
  
  aside {
    padding: 80px;
    margin-bottom: 20px;
    background: plum;
  }
  
  footer {
    padding: 20px;
    margin-bottom: 20px;
    background: teal;
  }